[Desktop Entry]
Name=Doctrina Optimos
Comment=Encapsulated PWA
Exec=google-chrome --app=http://127.0.0.1:8080/index.html
Terminal=false
Type=Application
Icon=/home/doctrina-optimos/cyber-interactive/cyber-main/assets/app-icon.png
Categories=Education;Utility;