[Desktop Entry]
Name=Doctrina Optimos
Comment=Encapsulated PWA
Exec=sh -c "$HOME/start-cyber-interactive"
Terminal=false
Type=Application
Icon=chromium
Categories=Utility;